<div class="row" style="height: 65vh;">
     <% layout("/layouts/boilerplate") %>
          <div class="alert alert-danger d-flex align-items-center col-9 offset-1" role="alert"
               style="height: 6rem; margin-top: 2rem ;">
               <p style="padding-left: 1rem;">
                    <b>
                         <%=err.message%>
                    </b>
               </p>
          </div>
</div>